[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NEONiso"]
	path = NEONiso
	url = https://github.com/lanl/neoniso
[submodule "ezECM"]
	path = ezECM
	url = https://github.com/lanl/ezecm
